// Colors
$brand-red: rgb(221,59,68);
$brand-blue: rgb(52,155,211);
$dark: #212930;
$bg: #fefff8;
$bg_dark: #e7e8e2;
// Spacing
$xs-size: 1.0rem;
$s-size: 1.6rem;
$m-size: 2.0rem;
$l-size: 3.6rem;
$xl-size: 5.0rem;
$desktop-breakpoint: 45rem;

$h3-font: "Raleway-SemiBold";
$h1-font: "Raleway-Bold";
$main-font: "Raleway";
